.tll,
.ttl {
    font-size: 28px;
    text-align: center;
    margin: 16px 0 6px;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hd-actions {
    display: flex;
    gap: 8px;
}
.subttl {
    font-family: "Inika", "Times New Roman", serif; /* セリフ体 */
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 16px;
    color: #8b7969;
}
.auth {
    background: #f1ece7;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 横は中央 */
    justify-content: flex-start; /* 上寄せ */
    padding-top: 60px;
}

.card form{
    background: #fff;
    border-radius: 4px;
    padding: 40px 72px;
    width: 100%;
    max-width: 736px;
    ; /* blade側の style に合わせた */
    box-sizing: border-box;
    margin: 0 auto;
}

.card--narrow {
    margin: 0 auto; /* これで中央寄せ */
}

.form_group {
    margin-bottom: 24px;
    width: 445px;
    align-items: center;
}
.form_label {
    color: #8b7969;
    font-family: "Inika";
    font-size: 25px;
    font-weight: 400;
    display: block;
    margin-bottom: 8px;
}
.form_input {
    display: block;
    color: #beb1a6;
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    height: 48px;
    padding: 10px 12px;
    background: #f4f4f4; /* 四角の中の色を灰色に */
    border: 1px solid #ddd;
    border-radius: 0;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}
.form_error {
    color: #d33;
    font-size: 12px;
    margin-top: 6px;
}
.req {
    color: #d33;
}
.btn {
    font-size: 20px;
    display: inline-block;
    padding: 10px 18px;
    margin: 32px;
    border: 0;
    background: #82756a;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
}
.btn--ghost {
    background: #333;
} /* お好みで */
.btn--sm {
    font-size: 14px;
    padding: 6px 12px;
}
.btn:hover {
    opacity: 0.9;
}
.hd-actions .btn {
    background: #eeeeee; /* 背景：灰色 */
    color: #d8c3a5; /* 文字：薄い茶系 */
    border: 1px solid #dddddd; /* うっすら枠 */
}
.hd-actions .btn:hover {
    opacity: 0.9;
}

body {
    background: #f1ece7;
    padding: 0;
    margin: 0;
}

@media (max-width: 480px) {
    .card {
        padding: 24px 16px;
    }
}
